---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type PostData = CollectionEntry<'posts'>['data'];

interface Props {
  title: PostData['title'];
  url: string;
  description: PostData['description'];
  pubDate: string;
  author: PostData['author'];
  image: PostData['image']['url'];
  alt?: string;
}

const {
  title,
  url,
  description,
  pubDate,
  author,
  image,
  alt = title,
} = Astro.props;
---

<article class="flex flex-col flex-1 h-full">
  <a href={url} title={title} class="group block">
    <div class="block w-full lg:col-span-2">
      <Picture
        width={720}
        height={480}
        src={image}
        alt={alt}
        formats={['avif', 'webp']}
        fallbackFormat="jpg"
        layout="constrained"
        quality="mid"
        fit="cover"
        position="center"
        widths={[320, 480, 720]}
        sizes="(min-width: 768px) 368px, (min-width: 640px) 50vw, calc(100vw - 4rem)"
        pictureAttributes={{ class: 'block' }}
        class="object-cover w-full h-full bg-center aspect-12/8 rounded-xl"
      />
    </div>
  </a>

  <div class="mt-1">
    <div class="flex items-center space-x-1 text-xs text-base-500">
      <span class="font-medium">{author}</span>
      <span aria-hidden="true">&middot;</span>
      <time datetime={pubDate}>{pubDate}</time>
    </div>

    <h3 class="mt-4 text-base font-semibold text-base-900 text-balance">
      <a href={url} class="hover:underline">{title}</a>
    </h3>

    <p class="mt-1 text-sm text-base-500 line-clamp-2">{description}</p>
  </div>
</article>
